/*
 * Footer
 */
* {
	margin: 0;
	padding: 0;
}

.footer {
	padding: 20px 0;
	color: #999;
	text-align: center;
	background-color: white;
	border-top: 1px solid #e5e5e5;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

/*隐藏滚动条*/
::-webkit-scrollbar {
	display: none;
}

