<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户信息</title>
		<link rel="icon" href="http://glorywebsdemo.com/themeforest/html/carveordering/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
	</head>
	<body>
		
		
		<div class="container" style="padding: 0; background-color: EBEBEB;">
			
			<div class="container-fluid" style="margin-bottom: 4px;padding: 0;">
				<div class="container-fluid row">

					<!--
                	作者：2539829814@qq.com
                	时间：2019-12-30
                	描述：巨幕
                -->
					<div class="col-lg-3" style="height: auto; ">
						<h1>用户信息页</h1>
						<p>欢迎来到本视频网站。在这，你将发现更多美。</p>
						<p>
							<a class="btn btn-info btn-1g" href="http://www.baidu.com" role="button">Learn More</a>
						</p>
					</div>

					<!--
                	作者：2539829814@qq.com
                	时间：2019-12-30
                	描述：轮播图
                	图片要求：800*200的图片大小
                -->
					<div class="container col-lg-8 col-lg-offset-1 lunbotu" style="height: 200px;padding: 0;">
						<div id="myCarousel" class="carousel slide" style="">
							<!-- 轮播（Carousel）指标 -->
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>
							<!-- 轮播（Carousel）项目 -->
							<div class="carousel-inner" style="width: 100%; height: 200px;">
								<div class="item active" align="center" style="width: 100%; height: 200px;">
									<img src="/img/ad001.jpg" alt="First slide" style="width: 100%; height: 100%;">
									<div class="carousel-caption">尽情期待</div>
								</div>
								<div class="item" align="center" style="width: 100%; height: 200px;">
									<img src="/img/ad002.jpg" alt="Second slide" style="width: 100%; height: 100%;">
									<div class="carousel-caption">诚邀加盟</div>
								</div>
								<div class="item" align="center" style="width: 100%; height: 200px;">
									<img src="/img/ad003.jpg" alt="Third slide" style="width: 100%; height: 100%;">
									<div class="carousel-caption">先到先得</div>
								</div>
							</div>
							<!-- 轮播（Carousel）导航 -->
							<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>

					</div>
				</div>
			</div>
			
			<!--
        	作者：2539829814@qq.com
        	时间：2019-12-30
        	描述：网站导航条
       -->
			<nav class="navbar navbar-default navbar-inverse" style="margin:0 0 4px 0;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            	<span class="sr-only">Toggle navigation</span>
			             	<span class="icon-bar"></span>
			             	<span class="icon-bar"></span>
			             	<span class="icon-bar"></span>
			            </button>

						<img class="navbar-brand"  th:src="${session.user.iconUrl}" style="width:50px; height:50px; margin-left: 5px;border-radius:50%;" />
					</div>						 
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav mytab">
							<li data-toggle="tab" class="active">
								<a id="userInfoButton" href="#">个人信息</a>
							</li>
							<li data-toggle="tab">
								<a id="accountInfoButton" href="#">账户信息</a>
							</li>
							<li data-toggle="tab">
								<a id="userInfoUpdateButton" href="#">修改信息</a>
							</li>
												
							<li class="dropdown" data-toggle="tab">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">密码管理 <span class="caret"></span></a>
								<ul class="dropdown-menu mytab">
									<li data-toggle="tab" class="dropdown-header">密码中心</li>
									<li data-toggle="tab">
										<a id="passwordUpdateButton" href="#">修改密码</a>
									</li>
									<li data-toggle="tab">
										<a id="forgetPasswordButton" href="#">找回密码</a>
									</li>
								</ul>
							</li>
							
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown" data-toggle="tab">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span title="设置" class="glyphicon glyphicon-cog"></span></a>
								<ul class="dropdown-menu mytab">
									<li data-toggle="tab" class="dropdown-header">设置中心</li>
									<li data-toggle="tab">
										<a id="reload" href="#">页面刷新</a>
									</li>
									<li data-toggle="tab">
										<a href="#">安全退出</a>
									</li>
									<li data-toggle="tab">
										<a href="#">账号注销</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
				<!--/.container-fluid -->
			</nav>
			
			
			<!--
            	作者：2539829814@qq.com
            	时间：2020-02-05
            	描述：用户信息页
            -->
			<form id="userInfo" class="form-horizontal" role="form" style="border:1px solid rgba(0,0,0,.125);margin:0;">
				<div class="form-group">
					<label class="col-sm-1 control-label">用户名称</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.userName}"></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">用户年龄</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.userAge}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">用户性别</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.userSex}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">QQ邮箱</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.userMail}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">手机号码</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.userPhone}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">家庭住址</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.userAddress}"></p>
					</div>
				</div>
				
				
				<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">头像</label>
					<div class="col-sm-11">
						<p class="form-control-static">
							<img th:src="${session.user.iconUrl}" style="width:200px;height:200px;"/>
						</p>
					</div>
				</div>
				 
			</form>
			
			<!--
            	作者：2539829814@qq.com
            	时间：2020-02-05
            	描述：账户信息页
            -->
			<form id="accountInfo" class="form-horizontal" role="form" style="border:1px solid rgba(0,0,0,.125);margin:0;">
				<div class="form-group">
					<label class="col-sm-1 control-label">账户ID</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.userId}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">注册时间</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.registerDate}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">账户角色</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.userRole.userRole}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">账户状态</label>
					<div class="col-sm-11">
						<p class="form-control-static" th:text="${session.user.state.stateName}"></p>
					</div>
				</div>
				 
			</form>
			
			
			
			<!--
            	作者：2539829814@qq.com
            	时间：2020-02-05
            	描述：修改信息
            -->
			
			<form id="userInfoUpdate" method="post" action="/UserController/userInfoUpdate" class="form-horizontal" role="form" enctype="multipart/form-data" style="border:1px solid rgba(0,0,0,.125);margin:0;">
				<div class="form-group">
					<label for="firstname" class="col-sm-1 control-label">用户名称</label>
					<div class="col-sm-11">
						<input type="text" name="userName" th:value="${session.user.userName}" class="form-control" disabled="disabled" placeholder="用户名称">
					</div>
				</div>
				<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">用户年龄</label>
					<div class="col-sm-11">
						<select class="form-control" name="userAge">
							<option th:text="${session.user.userAge}"></option>
							
							<span th:each="dayCyc : ${#numbers.sequence(0,100)}" >
								
								<span th:if="${session.user.userAge} == ''">
									<option selected="selected">请输入用户年龄</option>
								</span>
							
							
								<span th:if="${session.user.userAge} == ${dayCyc }">
									<option selected="selected" th:text="${dayCyc }"></option>
								</span>
								
								<span th:if="${session.user.userAge} != ${dayCyc }">
									<option th:text="${dayCyc }"></option>
								</span>
							</span>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">用户性别</label>
					<div class="col-sm-11">
						<select class="form-control" name="userSex">
							<option th:text="${session.user.userSex}"></option>
							<span th:if="${session.user.userSex}=='男'">
								<option>女</option>
							</span>
							<span th:if="${session.user.userSex}=='女'">
								<option>男</option>
							</span>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">QQ邮箱</label>
					<div class="col-sm-11">
						<input type="text" name="userMail" th:value="${session.user.userMail}" class="form-control" placeholder="请输入QQ邮箱">
					</div>
				</div>
				
				<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">手机号码</label>
					<div class="col-sm-11">
						<input type="text" name="userPhone" th:value="${session.user.userPhone}" class="form-control" placeholder="请输入手机号码">
					</div>
				</div>
				
				<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">家庭住址</label>
					<div class="col-sm-11">
						<input type="text" name="userAddress" th:value="${session.user.userAddress}" class="form-control" placeholder="请输入家庭住址">
					</div>
				</div>
				
				
				<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">头像URL</label>
					<div class="col-sm-11">
						<input id="file-selector" type="file" accept="image/gif,image/jpeg,image/x-png" style="display:none;" name="iconFile"  class="form-control" placeholder="请选择文件">
						<img id="imgshow" src="/img/add.png"  style="width:200px;height:200px;"/>
					</div>
				</div>
				 
				 
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<div class="checkbox">
							<label>
							<input type="checkbox"> 本人确认已仔细阅读并充分理解<a href="https://www.vcg.com/help/privacy-policy"> 个人信息保护政策</a>与<a href="https://www.vcg.com/help/website-terms"> 网站使用条框</a> 的全部内容，同意接受上述协议的全部内容
						</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-1 col-lg-1">
						<button type="submit" class="btn btn-default">上传</button>
					</div>
					<div class="col-lg-1">
						<button type="reset" class="btn btn-default">取消</button>
					</div>
				</div>
			</form>
			
			<!--
            	作者：2539829814@qq.com
            	时间：2020-02-05
            	描述：修改密码页
            -->
			<form id="passwordUpdate" action="#" method="post" class="form-horizontal" role="form" style="border:1px solid rgba(0,0,0,.125);margin:0;">
				<div class="form-group">
					<label for="firstname" class="col-sm-1 control-label">旧密码</label>
					<div class="col-sm-11">
						<input type="password" name="oldpswd" class="form-control" placeholder="输入旧密码">
					</div>
				</div>
				<div class="form-group">
					<label for="firstname" class="col-sm-1 control-label">新密码</label>
					<div class="col-sm-11">
						<input type="password" name="newpswd" class="form-control" placeholder="输入新密码">
					</div>
				</div>
 		 
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<div class="checkbox">
							<label>
							<input type="checkbox"> 本人确认已仔细阅读并充分理解<a href="https://www.vcg.com/help/privacy-policy"> 个人信息保护政策</a>与<a href="https://www.vcg.com/help/website-terms"> 网站使用条框</a> 的全部内容，同意接受上述协议的全部内容
						</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-1 col-lg-1">
						<button type="button" id="pswdupload" class="btn btn-default">更改密码</button>
					</div>
					<div class="col-lg-1">
						<button type="reset" class="btn btn-default">取消</button>
					</div>
				</div>
			</form>
			
			<div class="container" id="forgetPassword"><h1>密码将会发送到你的QQ邮箱，请注意查收。</h1></div>
		</div>
		
		
		<script src="/js/jquery.min.js"></script>
		<!-- include flowplayer -->
		<script src="/js/flowplayer.min.js"></script>

		<script src="/js/bootstrap.min.js"></script>
		<script language="JavaScript">
		
			$('#reload').click(
				function(){
					window.location.reload();
				}		
			);
			
			$(document).ready(
				function(){
					$("#userInfo").show();
					$("#accountInfo").hide();
					$("#userInfoUpdate").hide();
					$("#passwordUpdate").hide();
					$("#forgetPassword").hide();
				}
			);
			
			$("#userInfoButton").click(
				function(){
					$("#userInfo").show();
					$("#accountInfo").hide();
					$("#userInfoUpdate").hide();
					$("#passwordUpdate").hide();
					$("#forgetPassword").hide();
				}
			);
			
			$("#accountInfoButton").click(
				function(){
					$("#accountInfo").show();
					$("#userInfo").hide();
					$("#userInfoUpdate").hide();
					$("#passwordUpdate").hide();
					$("#forgetPassword").hide();
				}
			);
			
			$("#userInfoUpdateButton").click(
				function(){
					$("#userInfoUpdate").show();
					$("#userInfo").hide();
					$("#accountInfo").hide();
					$("#passwordUpdate").hide();
					$("#forgetPassword").hide();
				}
			);
			$("#passwordUpdateButton").click(
				function(){
					$("#passwordUpdate").show();
					$("#userInfo").hide();
					$("#accountInfo").hide();
					$("#userInfoUpdate").hide();
					$("#forgetPassword").hide();
				}
			);
			
			
		    
		    $('#file-selector').change(function () {
		        // 先获取用户上传的文件对象
		        let fileObj = this.files[0];
		        // 生成一个文件读取的内置对象
		        let fileReader = new FileReader();
		        // 将文件对象传递给内置对象
		        fileReader.readAsDataURL(fileObj); //这是一个异步执行的过程，所以需要onload回调函数执行读取数据后的操作
		        // 将读取出文件对象替换到img标签
		        fileReader.onload = function(){  // 等待文件阅读器读取完毕再渲染图片
		          	$('#imgshow').attr('src',fileReader.result)
		        }
		    });
			
		    $("#imgshow").click(
		    	function(){
		    		$("#file-selector").trigger("click");
		    	}
		    );
			
			
			$("#forgetPasswordButton").click(
					function(){
						$("#forgetPassword").show();
						$("#passwordUpdate").hide();
						$("#userInfo").hide();
						$("#accountInfo").hide();
						$("#userInfoUpdate").hide();
						
						
						setTimeout(
							function(){
								$.ajax({
									type:"post",
									url:"/UserController/forget",
									async:true,
									dataType:"JSON",
									error:function(data){
										alert("密码发送失败");
									},
								  	success:function(data){
								  		alert("密码已发送到邮箱");	
									}//success:function
								});//ajax									
							},
							100
						);
						
					}
				);
			
			$("#pswdupload").click(			
				function(){
					$.ajax({
						type:"post",
						url:"/UserController/passwordUpdate",
						async:true,
						data: $('#passwordUpdate').serialize(),
						dataType:"text",
						contentType: "application/x-www-form-urlencoded; charset=utf-8",
						error:function(data){
							alert("密码修改失败");
						},
					  	success:function(data){  
					  		if(data =='success'){
					  			alert("密码修改成功");
					  		}	else{
					  			alert("密码修改失败");
					  		}
						}//success:function
					});//ajax
				}		
			);
		</script>
	</body>
</html>
