<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liucm.dao.UserMapper">
	<select id="selectAll" resultType="com.liucm.bean.User">
		select * from tb_user;
	</select>
	
	<select id="selectAllUserId" resultType="Integer">
		select user_id from tb_user order by user_id ASC;
	</select>

	<select id="selectUserByPage"
		parameterType="com.liucm.util.Page" resultMap="userResult">
		select * from tb_user
		limit #{curCol} , #{pageSize}; 
	</select>

	<select id="selectOne" resultType="com.liucm.bean.User"
		resultMap="userResult" parameterType="int">
		select * from tb_user where
		user_id = #{userId};
	</select>
	<resultMap type="com.liucm.bean.User" id="userResult">
		<id column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="user_age" property="userAge" />
		<result column="user_sex" property="userSex" />
		<result column="user_mail" property="userMail" />
		<result column="user_phone" property="userPhone" />
		<result column="user_address" property="userAddress" />
		<result column="password" property="password" />
		<result column="register_date" property="registerDate" />
		<result column="icon_url" property="iconUrl" />

		<association property="userRole"
			javaType="com.liucm.bean.UserRole" column="role_id"
			select="com.liucm.dao.UserRoleMapper.selectOneByUserRoleId"></association>
		<association property="state"
			javaType="com.liucm.bean.State" column="state_id"
			select="com.liucm.dao.StateMapper.selectStateByStateId"></association>

	</resultMap>
	
	

	<select id="selectOneByUserName"
		resultType="com.liucm.bean.User" parameterType="String"
		resultMap="userResult">
		select * from tb_user
		where user_name = #{userName};
	</select>

	<insert id="insertUser" parameterType="com.liucm.bean.User"
		useGeneratedKeys="true" keyProperty="userId">
		insert INTO tb_user(
		user_name,
		user_age,
		user_sex,
		user_mail,
		user_phone,
		user_address,
		password,
		role_id,
		register_date,
		fan_num,
		icon_url,
		state_id
		)
		VALUES(
		#{userName},
		#{userAge},
		#{userSex},
		#{userMail},
		#{userPhone},
		#{userAddress},
		#{password},
		#{userRole.roleId},
		now(),
		0,
		#{iconUrl},
		#{state.stateId}
		)
	</insert>

	<update id="updateUser" parameterType="com.liucm.bean.User">
		update tb_user
		set
		user_name = #{userName},
		user_age = #{userAge},
		user_sex = #{userSex},
		user_mail = #{userMail},
		user_phone = #{userPhone},
		user_address =
		#{userAddress},
		password = #{password},
		role_id = #{userRole.roleId},
		register_date = #{registerDate},
		fan_num = #{fanNum},
		icon_url =
		#{iconUrl},
		state_id = #{state.stateId}
		where user_id = #{userId};
	</update>

	<delete id="deleteUserById" parameterType="int">
		delete from tb_user
		where user_id = #{userId}
	</delete>
</mapper>