<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liucm.dao.UserRoleMapper">
 	<select id="selectAll" resultType="com.liucm.bean.UserRole">
 		select * from tb_role;
 	</select>
 	
 	<select id="selectOneByUserRoleId" parameterType="Integer" resultType="com.liucm.bean.UserRole">
 		select * from tb_role where role_id = #{roleId};
 	</select>
 	
 	<select id="selectOneByRoleName" parameterType="String" resultType="com.liucm.bean.UserRole">
 		select * from tb_role where user_role = #{roleName};
 	</select>
 	
 	<delete id="deleteOne" parameterType="int">
 		delete from tb_role where role_id=#{roleId};
 	</delete>
 	
 	<insert id="addUserRole" parameterType="String" useGeneratedKeys="true">
 		insert into tb_role(`user_role`)
 		values(#{userRoleName});
 	</insert>
</mapper>